$hex-color: #943;
$hover-color: #960;
$text-color: #fff;
$background-color: #000;

body {
  background-color: $background-color;
}

.grid-map {
  margin-left: 40px;
  margin-top: 65px;

  .hex-row {
    clear: left;
    height: 53px;
    position: relative;

    .hex {
      background-color: $hex-color;
      color: $text-color;
      float: left;
      position: relative;
      height: 104px;
      width: 60px;
      margin-left: 60px;
      margin-right: 60px;
      margin-top: -53px;

      &:hover {
        background-color: $hover-color;
      }

      .hexcontent {
        position: absolute;
      }
    }

    .hex:before {
      content: " ";
      height: 0;
      width: 0;
      float: left;
      position: absolute;
      left: -30px;
      border-right: 30px solid $hex-color;
      border-top: 52px solid transparent;
      border-bottom: 52px solid transparent;
    }

    .hex:hover:before {
      border-right: 30px solid $hover-color;
    }

    .hex:after {
      content: "";
      height: 0;
      width: 0;
      float: left;
      position: absolute;
      right: -30px;
      border-left: 30px solid $hex-color;
      border-top: 52px solid transparent;
      border-bottom: 52px solid transparent;
    }

    .hex:hover:after {
      border-left: 30px solid $hover-color;
    }

    .skip {
      visibility: hidden;
    }
  }

  .even {
    margin-left: 90px;
  }
}
